.task_row {
    -fx-border-color: gray;
    -fx-border-radius: 10;

    -fx-background-radius: 10;
    -fx-background-color: rgba(70, 132, 145, 0.75);
}

.list-cell {
    -fx-cursor: default;
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: transparent;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);*/
    -fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.25, 0, 0);
}

.task_row_done {
    -fx-background-color: rgba(122, 122, 122, 0.75);
}

.task_row_textfield {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: default;
}

.bg_image {
    -fx-background-image: url("../images/bg.jpg");
}

.bg_transparent {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.h2 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.h3 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.login_box {
    -fx-border-color: black;
    -fx-border-radius: 10;

    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-background-radius: 10;
}

.color_button {
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#7db3bf, #376872);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

    -fx-font-size: 14px;
    -fx-pref-width: 100;
    -fx-pref-height: 30;
}

.color_button:hover {
    -fx-background-color: linear-gradient(#92bfc9, #468491);
    -fx-cursor: hand;
}

.error_text {
    -fx-text-fill: #a80000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.25), 0, 0, 0, 1);
}

.tab-pane *.tab-header-background {
    -fx-background-color: rgba(55, 104, 114, 0.67);
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.6), 4, 0.0, 0, 0);
}